:root {
  --black: #231f20;
  --black-light: #636363;
  --white: #fff;
  --orange: #f26522;
  --orange-light: #ff854b;
  --orange-lighter: #ffc2a5;
  --tr200: 200ms;
  --tr250: 250ms;
  --tr300: 300ms;
  --tr500: 500ms;
}

/* ----Start body background */

.home-block--bg,
body {
  background-color: #fcfcfc !important;
}

/* ----End body background */
/*-------------------------------------------*/
/*----Start Slide Arrow*/

.splide__track {
  overflow-x: hidden !important;
}
.splide__arrow {
  background-color: var(--orange-lighter) !important;
  fill: var(--white) !important;
}

/*----End Slide Arrow*/
/*-------------------------------------------*/
/*----Start Product Box*/

.product-block {
  border: none !important;
  outline: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  overflow-x: hidden !important;
  -webkit-transition: var(--tr250);
  -moz-transition: var(--tr250);
  -ms-transition: var(--tr250);
  -o-transition: var(--tr250);
  transition: var(--tr250);
  position: relative;
}
.product-block::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--orange-light);
  width: 0%;
  height: 1px;
  -webkit-transition: var(--tr250);
  -moz-transition: var(--tr250);
  -ms-transition: var(--tr250);
  -o-transition: var(--tr250);
  transition: var(--tr250);
}
.product-block:hover::before {
  width: 100%;
}
.product-block:hover {
  box-shadow: 0 1px 20px 0 rgb(238, 238, 238) !important;
  -webkit-transform: translateY(-5px) scale(1.05);
  -moz-transform: translateY(-5px) scale(1.05);
  -ms-transform: translateY(-5px) scale(1.05);
  -o-transform: translateY(-5px) scale(1.05);
  transform: translateY(-5px) scale(1.05);
}

/*----End Product Box*/
/*-------------------------------------------*/
/*--------Start Add To Card*/

.btn--add-to-cart {
  background: var(--orange-light) !important ;
  border-radius: 3px !important;
}
@media (max-width: 991px) {
  .btn--add-to-cart {
    left: 10px !important;
  }
}
.btn--add-to-cart:hover {
  background: var(--orange) !important ;
}
.product-block:hover .btn--add-to-cart {
  left: 10px !important;
}

.btn--floated .s-button-element {
  background-color: none !important ;
  color: var(--black) !important;
}

@media (min-width: 992px) {
  .product-block .btn--add-to-cart .s-button-element {
    transform: translate(-10px, 10px) !important;
    -webkit-transition: var(--tr300);
    -moz-transition: var(--tr300);
    -ms-transition: var(--tr300);
    -o-transition: var(--tr300);
    transition: var(--tr300);
  }
}
.product-block:hover .btn--add-to-cart .s-button-element {
  -webkit-transform: rotate(-20deg) translate(0px, -1px) scale(2.2) !important;
  -moz-transform: rotate(-20deg) translate(0px, -1px) scale(2.2) !important;
  -ms-transform: rotate(-20deg) translate(0px, -1px) scale(2.2) !important;
  -o-transform: rotate(-20deg) translate(0px, -1px) scale(2.2) !important;
  transform: rotate(-20deg) translate(0px, -1px) scale(2.2) !important;
}

.product-block .btn--add-to-cart .s-button-element i {
  color: var(--white) !important;
}

/*--------End Add To Card*/

/*----End Product Box*/
/*-------------------------------------------*/
/* ----Start Whatsapp Icon*/

.wapp-icon {
  position: fixed;
  bottom: 16px;
  right: 15px;
}
.wapp-icon:hover {
  transform-origin: bottom left;
  -webkit-animation: shake var(--tr250) linear;
  animation: shake var(--tr250) linear;
}
@keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  40% {
    -webkit-transform: rotate(7deg) scale(1.05);
    -moz-transform: rotate(7deg) scale(1.05);
    -ms-transform: rotate(7deg) scale(1.05);
    -o-transform: rotate(7deg) scale(1.05);
    transform: rotate(7deg) scale(1.05);
  }
  60% {
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }
  80% {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}
.wapp-icon a svg {
  width: 70px;
  height: 70px;
  fill: #25d366;
  color: #fff;
  stroke-width: 1px;
  -webkit-filter: drop-shadow(0 0 10px #c2c2c26b);
  filter: drop-shadow(0 0 10px #c2c2c26b);
}
@media (max-width: 992px) {
  .wapp-icon {
    width: 50px;
    height: 50px;
    bottom: 80px;
  }
}

/* ----End Whatsapp Icon*/
/*-------------------------------------------*/
/* -----Start Navigation*/

.nav-desktop--horizontal > ul .menu-item.dropdown:hover > a::after {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* -----Start Navigation Media(991px)*/

@media (max-width: 991px) {
  .nav-mobile .main-nav {
    border-radius: 0;
  }
  .nav-mobile .main-nav li a {
    padding: 10px !important;
    font-size: 11px !important;
    font-weight: 200 !important;
  }
  .nav-mobile .main-nav li a i {
    font-size: 13px !important;
    font-weight: 200 !important;
  }
}

/* -----End Navigation Media(991px)*/
/* -----End Navigation*/

/*----Start ALL PRODUCTS BUTTON*/

.all {
  position: fixed;
  bottom: 100px;
  right: 19px;
  background-color: var(--orange-light);
  color: white;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 100;
  padding: 4px 9px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  box-shadow: 3px 3px 0px var(--orange-lighter);
  border: none;
  outline: none;
  -webkit-transition: var(--tr200);
  -moz-transition: var(--tr200);
  -ms-transition: var(--tr200);
  -o-transition: var(--tr200);
  transition: var(--tr200);
}
.all:hover {
  -webkit-animation: shake var(--tr250) linear;
  animation: shake var(--tr250) linear;
}
@media (max-width: 992px) {
  .all {
    bottom: 135px;
  }
}
.all:hover {
  background-color: var(--orange);
}

/*----End ALL PRODUCTS BUTTON*/
